{% capture postsCss %}{% include css/posts.css %}{% endcapture %}
<style>{{ postsCss | cssmin | safe }}</style>
<div class="cards">

{%- for post in devPosts -%}
    <div class="card">
        <a href="/posts/{{ post.title | removeNonAlphanumericCharacters | slug }}" ><image class="card__image" loading="lazy" src="{{ post.cover_image }}" alt="image for blog post: {{ post.title }}"></a>
        <a class="card__title" href="/posts/{{ post.title | removeNonAlphanumericCharacters | slug }}">{{ post.title }}</a>
        <p class="card__description">{{ post.description }}</p>
        <p class="card__date">{{ post.published_at | formatDate }}</p>
    </div>
{%- endfor -%}

</div>