---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ devProfile.name }}</title>
  <subtitle>{{ devProfile.summary }}</subtitle>
  <link href="{{ env.SITE_URL }}/feed.xml" rel="self"/>
  <link href="{{ env.SITE_URL }}/"/>
  <updated>{{ devPosts[0].published_at }}</updated>
  <id>{{ env.SITE_URL }}/</id>
  <author>
    <name>{{ devProfile.name }}</name>
  </author>
  {%- for post in devPosts %}
  <entry>
    <title>{{ post.title | htmlEncode }}</title>
    <link href="{{ env.SITE_URL }}/posts/{{ post.title | removeNonAlphanumericCharacters | slug }}"/>
    <updated>{{ post.published_at | rssDate }}</updated>
    <id>{{ env.SITE_URL }}/posts/{{ post.title | removeNonAlphanumericCharacters | slug }}</id>
    <summary>{{ post.description }}</summary>
  </entry>
  {%- endfor %}
</feed>